<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title> CRM Application </title>
        <link rel="stylesheet" type="text/css" href="/public.css">
  </head>
  <body>
  <header>

  <h1 class="app_title">CRM Application</h1>
    </header>
    
  
 

    <p>
      <%= yield %>
    </p>
 

  

        
    <footer> 
      &copy; 2015 Courtney Lee
    </footer>
  </body>
</html>